.nav_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #1f1f27;
}

.left {
    display: flex;
    float: left;
}

.logo {
    height: 70px;
    margin-left: 20px;
}

.center {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.center a {
    text-decoration: none;
}

.center span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms;
}

.center span:hover {
    color: #32eecc;
    transition: 300ms;
}

.underline {
    position: relative;
    display: inline-block;
    color: white;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #32eecc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
    z-index: -1;
}

.underline:hover::after {
    transform: scaleX(1);
}

.right {
    display: flex;
    position: absolute;
    right: 30px;
    gap: 8px;
}

.right .linkedin,
.right .instagram {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin: 0;
}

.right .github {
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin: 0;
    border-radius: 20px;
}

.right .tiktok {
    margin-top: 2px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}