html {
  background-color: rgb(17, 17, 24);
}

.chat_bot {
  position: fixed;
  bottom: 20px;
  right: 50px;
  height: 80px;
  width: 80px;
  background-color: white;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-content: center;
}